* {
  box-sizing: border-box;
}

/* classes for recipe result details and popup 

.back_arrow {

} 

.recpieDesc { 

}

#recipe_image {

}

.recpieIngname {

}

.ingContainer {

} */

/* added color */
.ingredient_card {
  width: 200px !important;
}

/* .Showall_button {

}

#popup {

}

.list_ingredients {

}

.recipe_buttonCont {

}

*/
.Recipe_buttonDesg {
  background-color: rgb(121, 121, 200);
}

*/

/* box sizing for entire page  */
* {
  box-sizing: border-box;
}

.bg-secondary {
  background-color: #4e4f61 !important;
}

.bg-primary {
  background-color: #5d5f96c5 !important;
}

.h1 {
  font-size: 3.2rem;
  color: rgba(124, 118, 118, 0.986);
}

.sm-card img {
  width: 220px;
  height: 250px;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
}

.food-group {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.food-group h2 {
  margin-right: 24rem;
}

.container-food-grp {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin: 25px;
}

.sm-card-container {
  margin: 10px;
}

.sm-card-container p {
  padding: 20px 0;
  border-radius: 0 0 20px 20px;
  color: white;
}

.back-arrow {
  position: relative;
  left: 93%;
  margin-bottom: 30px;
}
.ing-cards-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.ing-lg-card {
  text-align: center;
  margin-right: 30px;
  color: white;
}
.ing-lg-card img {
  border-radius: 20px 20px 0 0;
}
.ing-lg-card p {
  padding: 40px 0;
  border-radius: 0 0 20px 20px;
}
.right-container {
  display: flex;
  flex-wrap: wrap;
}
.ingredient-select .igr-icons {
  margin: 33px;
}
.right-container .card {
  display: flex;
  align-items: center;
}
/* header and search added */
header {
  display: flex;
  align-items: center;
  padding: 22px 15px;
  min-height: 85px;
  border-bottom: 1px solid #000;
}

.logo {
  font-size: 32px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  min-height: 36px;
  margin: 0;
}

.logo-img {
  display: inline-block;
  width: auto;
  height: 36px;
  margin-right: 20px;
}

h1 {
  font-size: 36px;
  font-family: serif;
  margin-bottom: 10px;
}

.navigation {
  font-size: 22px;
  margin-left: auto;
}

.navigation ul {
  list-style: none;
  font-weight: 600;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  padding-right: 10px;
  min-width: 85px;
}

.navigation ul li a {
  color: #142449;
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
  margin: 0;
  list-style: none;
}

.card-item {
  flex: 1;
  max-width: 100%;
  padding: 0 12px;
  font-size: 20px;
  text-align: center;
}

.card-link {
  color: #000;
  text-decoration: none;
}

.card-link:hover {
  color: #000;
  text-decoration: underline;
}

.card-img {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;

  width: 100%;
  height: 219px;
  margin-bottom: 10px;
}

.card-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
footer {
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 10px;
  border:solid;
  background-color: beige;
  display: auto;

}

@media screen and (min-width: 600px) {
  .body {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .body {
    width: 100%;
  }
}

@media screen and (max-width: 1024) {
  .body {
    width: 100%;
  }
}
